<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
	<meta charset="UTF-8">
	<title>Matt's Burger Joint</title>
	<link rel="stylesheet" href="style.css">
	<script src="angular.js"></script>
	<script src="menu.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div class="wrapper">
		<h1>Matt's Burger Joint</h1>
		<h2>About us</h2>
		<p>Bacon ipsum dolor sit amet turkey frankfurter tri-tip pork short loin chicken. T-bone jerky shoulder ball tip, sausage pancetta bacon. Tri-tip t-bone meatball kielbasa meatloaf, chuck shoulder kevin beef ribs pig filet mignon pancetta chicken. Beef ribs t-bone ribeye, capicola salami tongue jowl pork chop shoulder fatback chuck turducken shank beef.</p>
		<h2>Our Burgers</h2>
		<div class="burger-list" ng-controller="menuController as Menu">
			
			<div class="burger clearfix" ng-repeat="burger in Menu.menu">
				<div class="half left">
					<h3>{{burger.name | uppercase}}</h3>
					<p>Price: {{burger.price | currency}}</p>
					<p>Calories: {{burger.calories}}kCal</p>
					<p>Fat: {{burger.fat}}</p>
					<p>Carbs: {{burger.carbs}}</p>
					<p>Protein: {{burger.protein}}</p>
				</div>
				<div class="half right" ng-controller="imageController as imageCtrlr">
					<!-- Large Image -->
					<img ng-src="{{burger.images[imageCtrlr.selected]}}" class="full">
					
					<!-- Thumbnails -->
					<!-- first thumbnail -->
					<img ng-class="{selected: imageCtrlr.selected ===0 }" 
					     ng-click="imageCtrlr.setSelected(0)" 
					     ng-src="{{burger.images[0]}}" class="thumb">
					<!-- second thumbnail -->
					<img ng-class="{selected: imageCtrlr.selected ===1 }" 
					     ng-click="imageCtrlr.setSelected(1)" 
					     ng-src="{{burger.images[1]}}" class="thumb">
					<!-- third thumbnail -->
					<img ng-class="{selected: imageCtrlr.selected ===2 }" 
					     ng-click="imageCtrlr.setSelected(2)" 
					     ng-src="{{burger.images[2]}}" class="thumb">
				</div>
			</div><!-- burger -->
		</div><!-- burger list -->
	</div>

</body>
</html>